/* HEADER LIGHT (modo claro) */
.header {
  background-color: #f5f5f5;
  padding: 10px 20px;
}

.header .menuItem a {
  color: #1e1e1e;
}

.header .menuItem a:hover {
  color: #1976d2;
}

.header .menu {
  list-style: none;
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
  gap: 20px;
  margin-left: 1%;
  border-bottom: 2px solid #1e1e1e;
}

.logo {
  height: 70px;
  width: auto;
}
.dropdown {
  position: relative;
}

.dropdown_toggle {
  background: none;
  border: none;
  color: #1e1e1e;
  cursor: pointer;
  font-size: 1rem;
  padding: 5px 10px;
  white-space: nowrap;
}

.dropdown_toggle:hover {
  background-color: #e3e3e3;
  color: #1976d2;
  border-radius: 5px;
}

.dropdown_menu {
  position: absolute; /* Posiciona em relação ao pai com 'position: relative' */
  top: 100%;
  left: 0;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  list-style-type: none;
  padding: 10px 0;
  margin-top: 10px;
  min-width: 150px;
  z-index: 10;
  display: flex;
  flex-direction: column; /* Itens em coluna */
  gap: 5px;
}

.dropdown_menu li a {
  display: block;
  padding: 8px 15px;
  color: #333;
  background-color: transparent;
  text-decoration: none;
  width: 100%;
}

.dropdown_menu li a:hover {
  background-color: #f0f0f0;
}
.dropdownButtonAsLink {
  background: none;
  border: none;
  margin: 0;
  padding: 0;
  font-family: inherit;
  font-size: inherit; 
  cursor: pointer;
  display: block;
  width: 100%; 
  text-align: left; 
  padding: 0.75rem 1rem;
  color: #333;
  text-decoration: none;
  background-color: white;
}
.dropdownButtonAsLink:hover {
  background-color: #f0f0f0;
}
.notification_icon {
  position: relative;
  font-size: 20px;   /* Tamanho do ícone */
  color: #333;       /* Cor do ícone */
  cursor: pointer;
  display: inline-block; /* Para se ajustar ao conteúdo */
  margin-bottom: 0%;
  margin-left: auto;
}

.notification_badge {
    display: none;
    position: absolute;
    top: -4px;   /* Um pouco acima do topo do sino */
    right: -4px; /* Um pouco à direita do sino */
    
    /* Visual */
    width: 10px;
    height: 10px;
    background-color: red;
    border-radius: 50%; /* Para fazer dele um círculo */
    border: 2px solid white; 
}

.notification_icon.has-notifications .notification_badge {
    /* Quando o container tiver a classe .has-notifications,
       o .notification-badge dentro dele será exibido! */
    display: block; 
}

.nav_links {
  position: relative;
  margin-left: auto;
  display: flex;
  align-items: center;
  margin-right: 10%;
  gap: 10px;
}

.motivacao {
  color: #1e1e1e;
  font-weight: bolder;
  margin-left: 5%;
  font-size: x-large;
  font-family: 'Courier New', Courier, monospace;
  white-space: nowrap;
}

/* HEADER DARK (modo escuro) */
@media (prefers-color-scheme: dark) {
  .header {
    background-color: #1e1e1e;
    padding: 10px 20px;
  }

  .header .menuItem a {
    color: #fff;
  }

  .header .menuItem a:hover {
    color: #1976d2;
  }
  
  .dropdown_toggle {
    color: rgb(255, 255, 255);
  }
  .dropdown_toggle:hover {
    background-color: #ffffff;
    color: #1976d2;
  }
  .notification_icon {
    color: #fff; /* Muda a cor do sino para branco no modo escuro */
  }

  .notification_badge {
     /* Você pode querer mudar a cor do badge no modo escuro */
     background-color: #1976d2; /* Ex: Usando o azul do seu tema */
     border-color: #1e1e1e; /* Borda da cor do fundo escuro */
  }
  .header .menu {
    list-style: none;
    display: flex;
    align-items: center;
    margin: 0;
    margin-left: 1%;
    padding: 0;
    gap: 20px;
    border-bottom: 2px solid #1976d2;
  }
}